<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @channel.account_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @channel.photo %>
</p>


<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
