<tr>

  <% @list.each_with_index do |video, index| %>
      <% if ((index % 3) == 0) %>


          <td></td>


          <td>

            <%=link_to( image_tag( escape_javascript(asset_path(video.image_path)),:size => "310x173"),
                       {:controller => "videos", :action => "show", :id => video.id}) %>
            <p> <%= video.title %></p>


          </td>


      <% else if ((index % 3) == 1) %>

              <td>
                <%=link_to(image_tag(escape_javascript(asset_path(video.image_path)),:size => "310x173"),
                           {:controller => "videos", :action => "show", :id => video.id}) %>
                <p> <%= video.title %></p>
              </td>

          <% else %>
              <td>
                <%=link_to(image_tag(escape_javascript(asset_path(video.image_path)),:size => "310x173"),
                           {:controller => "videos", :action => "show", :id => video.id}) %>
                <p> <%= video.title %></p>
              </td>
          <% end %>
      <% end %>
  <% end %>
</tr>