
<tr>

  <% @list.each_with_index do |video, index| %>
    <% if ((index % 3) == 0) %>


          <td></td>


                <td>

                    <video id="<%= video.id %>" class="video-js vjs-default-skin" controls width="310" height="173" poster="<%= escape_javascript(asset_path(video.image_path)) %>" data-setup='{"preload":true, "controls":true}'>
                      <source src="<%= escape_javascript(asset_path(video.path)) -%>" type="video/mp4"/>
                    </video>
                    <p> <%= video.title %></p>


                </td>


    <% else if ((index % 3) == 1) %>

                  <td>
                      <video id="<%= video.id %>" class="video-js vjs-default-skin" controls width="310" height="173" poster="<%= escape_javascript(asset_path(video.image_path)) %>" data-setup='{"preload":true, "controls":true}'>
                        <source src="<%= escape_javascript(asset_path(video.path)) -%>" type="video/mp4"/>
                      </video>
                      <p> <%= video.title %></p>
                  </td>

     <% else %>
                  <td>
                      <video id="<%= video.id %>" class="video-js vjs-default-skin" controls width="310" height="173" poster="<%= escape_javascript(asset_path(video.image_path)) %>" data-setup='{"preload":true, "controls":true}'>
                        <source src="<%= escape_javascript(asset_path(video.path)) -%>" type="video/mp4"/>
                      </video>
                      <p> <%= video.title %></p>
                  </td>
        <% end %>
    <% end %>
<% end %>
</tr>