<p id="notice"><%= notice %></p>

<div class="video">
<div class="video_info">

  <video id="<%= @video.id %>" class="video-js vjs-default-skin vjs-big-play-centered" controls width="640" height="380" poster="<%= escape_javascript(asset_path(@video.image_path)) %>" data-setup='{"preload":true, "controls":true}'>
    <source src="<%= escape_javascript(asset_path(@video.path)) -%>" type="video/mp4"/>
  </video>

  <div class="border_side">
  <div class="video_attr">
    <h1 class="video_title"><span><%= @video.title %></span></h1>

    <div class="video_eval border_bottom">
        <div class="view_count">
          <span>
            <%= @video.views %> views
          </span>

          <p class="border_top">
            <b>Likes:</b>
            <%= @video.likes %>
            <b>Dislikes:</b>
            <%= @video.dislikes %>
          </p>
        </div>


        <div class="video_like">
            <%= form_tag "/videos/like", :method => 'get', :remote => true do %>
                <p>
                  <%= hidden_field_tag 'video_id', @video.id  %>
                  <%= submit_tag "Like", :class => 'eval_form_tag' %>
                </p>
            <% end %>
        </div>

        <div class="video_dislike">
            <%= form_tag "/videos/dislike", :method => 'get', :remote => true do %>
                <p>
                  <%= hidden_field_tag 'video_id', @video.id  %>
                  <%= submit_tag "Dislike", :class => 'eval_form_tag' %>
                </p>
            <% end %>
        </div>
    </div>

    <div class="border_bottom">
      <p><b>Description</b></p>
      <p><%= @video.description %></p>
    </div>

    <div>
        <p><b>Comments</b></p>

        <div class="comment_video">

            <% if user_signed_in? %>
                <%= form_tag("/comments", :method => "post") do %>
                    <%= hidden_field_tag 'video_id', @video.id  %>
                    <%= text_field_tag(:comment) %>
                    <%= submit_tag("Comment") %>
                <% end %>
            <% else %>
              <p><u>É necessário ter a sessão iniciada para poder comentar.</u></p>
            <% end %>

            <%= flash[:error] %>
        </div>

        <% if @video.comments.blank? %>
        <p>Sem comentários</p>
        <% else %>
            <% @comments.each do |comment| %>
              <div class="video_c border_top">

                <div>
                    <p class="video_comment"><%= comment.comment %></p>

                    <p class="comment_eval">
                      <b>Likes:</b>
                      <%= comment.likes %>
                      <b>Dislikes:</b>
                      <%= comment.dislikes %>
                    </p>
                </div>

                <div class="comment_like">
                    <%= form_tag "/comments/clike", :method => 'get' do %>
                        <p>
                          <%= hidden_field_tag 'video_id', @video.id  %>
                          <%= hidden_field_tag 'comment_id', comment.id  %>
                          <%= submit_tag "Like", :class => 'eval_form_tag' %>
                        </p>
                    <% end %>
                </div>

                <div class="comment_dislike">
                    <%= form_tag "/comments/cdislike", :method => 'get' do %>
                        <p>
                          <%= hidden_field_tag 'video_id', @video.id  %>
                          <%= hidden_field_tag 'comment_id', comment.id  %>
                          <%= submit_tag "Dislike", :class => 'eval_form_tag' %>
                        </p>
                    <% end %>
                </div>
              </div>
            <% end %>
            <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
    <% end %>
    </div>
  </div>
  </div>
</div>

<div class="related_videos">
  <p><b>[<%= @video.category %>] - Related videos:</b></p>

  <% @related_videos.each do |related_video| %>
        <% if !(related_video.id == @video.id) %>
          <div class="video_related">
            <%=link_to(image_tag(escape_javascript(asset_path(related_video.image_path)),:size => "310x173"),
                       {:controller => "videos", :action => "show", :id => related_video.id}) %>
            <p class="related_title"><b><%= related_video.title %></b></p>
          </div>
        <% end %>
  <% end %>
</div>
</div>


