<p id="notice"><%= notice %></p>

<div class="video">
<div class="video_info">
  <h2><%= @video.title %></h2>
  <p><%= h @video.panda_video.inspect %></p>

  <% if @video.privacy && (!user_signed_in? || @idd.to_f < 18) %>
      <h3><b><u>Aviso de Conteúdo</u></b></h3>
      <p>Este vídeo pode ser impróprio para alguns utilizadores.</p>
  <% else %>
      <video id="<%= @video.id %>" class="video-js vjs-default-skin vjs-big-play-centered" controls width="640" height="380" poster="<%= escape_javascript(asset_path(@video.image_path)) %>" data-setup='{"preload":true, "controls":true}'>
        <source src="<%= escape_javascript(asset_path(@video.path)) -%>" type="video/mp4"/>
      </video>
  <% end %>

  <div class="border_side">
  <div class="video_attr">
    <h1 class="video_title"><span><%= @video.title %></span></h1>

    <div class="video_eval border_bottom">
        <div class="view_count">
          <span>
            <%= @video.views %> views
          </span>

          <p class="border_top">
            <b>Likes:</b>
            <%= @video.likes %>
            <b>Dislikes:</b>
            <%= @video.dislikes %>
          </p>
        </div>

      <% if user_signed_in? %>
        <div class="video_like">
            <%= form_tag "/evaluations", :method => 'post' do %>
                <p>
                  <%= hidden_field_tag 'user', current_user.email %>
                  <%= hidden_field_tag 'eval', 1  %>
                  <%= hidden_field_tag 'video_id', @video.id %>

                  <% if @evaluation.blank? || @evaluation.eval == 0 %>
                      <%= submit_tag "Like", :class => 'eval_form_tag' %>
                  <% else %>
                      <%= submit_tag "Like", :class => 'eval_form_tag eval_form_tag_selected' %>
                  <% end %>
                </p>
            <% end %>
        </div>

        <div class="video_dislike">
          <%= form_tag "/evaluations", :method => 'post' do %>
              <p>
                <%= hidden_field_tag 'user', current_user.email %>
                <%= hidden_field_tag 'eval', 0  %>
                <%= hidden_field_tag 'video_id', @video.id %>

                <% if @evaluation.blank? || @evaluation.eval == 1 %>
                    <%= submit_tag "Dislike", :class => 'eval_form_tag' %>
                <% else %>
                    <%= submit_tag "Dislike", :class => 'eval_form_tag eval_form_tag_selected' %>
                <% end %>
              </p>
          <% end %>
        </div>
      <% else %>
          <span><u>É necessário ter a sessão iniciada para poder avaliar o vídeo.</u></span>
      <% end %>
    </div>

    <div class="border_bottom">
      <p><b>Description</b></p>
      <p><%= @video.description %></p>
    </div>

    <div>
        <p><b>Comments</b></p>

        <div class="comment_video">

            <% if user_signed_in? %>
                <%= form_tag("/comments", :method => "post") do %>
                    <%= hidden_field_tag 'video_id', @video.id  %>
                    <%= hidden_field_tag 'user_name', current_user.username  %>
                    <%= text_field_tag(:comment) %>
                    <%= submit_tag("Comment") %>
                <% end %>
            <% else %>
              <p><u>É necessário ter a sessão iniciada para poder comentar.</u></p>
            <% end %>
            <%= flash[:error] %>
        </div>

        <% if @video.comments.blank? %>
        <p class="border_top">Sem comentários</p>
        <% else %>
          <% @comments.each do |comment| %>
                  <div class="video_c border_top">

                    <div>
                      <p class="video_comment"><%= comment.comment %> <b>- by <%= comment.user_name %></b></p>

                      <p class="comment_eval">
                        <b>Likes:</b>
                        <%= comment.likes %>
                        <b>Dislikes:</b>
                        <%= comment.dislikes %>
                      </p>
                    </div>

                    <% if user_signed_in? %>
                        <div class="comment_like">
                          <%= form_tag "/evaluation_comments", :method => 'post' do %>
                              <p>
                                <%= hidden_field_tag 'user', current_user.email %>
                                <%= hidden_field_tag 'eval', 1  %>
                                <%= hidden_field_tag 'video_id', @video.id %>
                                <%= hidden_field_tag 'comment_id', comment.id  %>
                                <%= submit_tag "Like", :class => 'eval_form_tag' %>
                                <!-- % if comment.eval.nil? || comment.eval == 0 %>
                                    %= submit_tag "Like", :class => 'eval_form_tag' %>
                                % else %>
                                    %= submit_tag "Like", :class => 'eval_form_tag eval_form_tag_selected' %>
                                % end %>    -->
                              </p>
                          <% end %>
                        </div>

                        <div class="comment_dislike">
                          <%= form_tag "/evaluation_comments", :method => 'post' do %>
                              <p>
                                <%= hidden_field_tag 'user', current_user.email %>
                                <%= hidden_field_tag 'eval', 0  %>
                                <%= hidden_field_tag 'video_id', @video.id %>
                                <%= hidden_field_tag 'comment_id', comment.id  %>
                                <%= submit_tag "Dislike", :class => 'eval_form_tag' %>
                              </p>
                          <% end %>
                        </div>
                    <% end %>
                  </div>
          <% end %>
          <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<div class="related_videos">
  <p><b>[<%= @video.category %>] - Related videos:</b></p>

  <% @related_videos.each do |related_video| %>
        <% if !(related_video.id == @video.id) %>
          <div class="video_related">
            <%=link_to(image_tag(escape_javascript(asset_path(related_video.image_path)),:size => "310x173"),
                       {:controller => "videos", :action => "show", :id => related_video.id}) %>
            <p class="related_title"><b><%= related_video.title %></b></p>
          </div>
        <% end %>
  <% end %>
</div>
</div>