<table>

  <tr>

    <td class="category_bar">
      <% @categories.each do |category| %>
          <p><%= category %></p>
      <% end %>
    </td>

    <td>
      <table>
        <% @list.each do |video| %>
            <tr>
              <td>
                <video id="<%= video.id %>" class="video-js vjs-default-skin" controls width="310" height="173" poster="<%= escape_javascript(asset_path(video.image_path)) %>" data-setup='{"preload":true, "controls":true}'>
                  <source src="<%= escape_javascript(asset_path(video.path)) -%>" type="video/mp4"/>
                </video>


              </td>
              <td>  <%= video.title %></td>

            </tr>

        <% end %>
      </table>
    </td>
</table>