<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Likes:</b>
  <%= @comment.likes %>
</p>

<p>
  <b>Dislikes:</b>
  <%= @comment.dislikes %>
</p>

<p>
  <b>Video:</b>
  <%= @comment.video_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
