<!DOCTYPE html>
<html>
<head>
  <title>Youtube</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "video.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id=search_bar>

  <table>
    <tr>
      <td>
        <img src="<%= escape_javascript(asset_path('youtube.jpg')) %>" alt="youtube icon" height="42" width="82">
      </td>
      <td>
        <%= form_tag("/general/search", :method => "get") do %>
            <%= label_tag(:q, "Pesquisa:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
        <% end %>
      </td>
      <td>
        <div id="user_nav">
          <% if user_signed_in? %>
              Bem vindo, <%= current_user.username %>!
              <%= link_to "Terminar sessão", destroy_user_session_path, :method => :delete %>
          <% else %>
              <%= link_to "Criar conta", new_user_registration_path %> <%= link_to "Iniciar sessão", new_user_session_path %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
<%= yield %>

</body>
</html>
