<!DOCTYPE html>
<html>
<head>
  <title>Youtube</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "video.js" %>
  <script src="//cdn.pandastream.com/u/2.0/panda-uploader.min.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript" language="javascript">


      function  contentLength(q){
          if(q.value ==  "")  {
              return false;
          }

          return true;
      }
  </script>


</head>
<body>
<div id=search_bar>

  <table>
    <tr>
      <td class="youtube_space_icon">

        <div class="youtube_icon">
          <%=link_to( image_tag( escape_javascript(asset_path('youtube.jpg')),:height=>"42", :width=>"82", :mouseover => "youtube.jpg"), :controller => "/general", :action => "home") %>
        </div>
      </td>
      <td class="search_space_bar">
        <form name='selection' action='/general/search' method='get' onsubmit="return contentLength(<%= :q %> );"  >

          Pesquisa: <input type="text" size="75" name=<%=:q%>>
          <input type="submit" value="Search"  class="button_search">

        </form>
      </td>
      <td class="session_space_bar">
        <div id="user_nav">
          <% if user_signed_in? %>
              Bem vindo, <%= current_user.username %>!
              <div class="button_search "><%= link_to "Terminar sessão", destroy_user_session_path, :method => :delete %> </div>
          <% else %>
              <div class="button_search width"><%= link_to "Criar conta", new_user_registration_path %>   </div>
              <div class="button_search width"><%= link_to "Iniciar sessão", new_user_session_path %> </div>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
<%= yield %>

</body>
</html>
